body {
  margin: 0;
  padding: 0;
  display: flex;
}
/* Left side of page manipulations */
/* Add an image to left side of page */
#leftSide {
  background-image: url(/IMG/BackgroundImage.avif);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 40%;
  position: relative;
}
/* Color links to white */
#leftSide a {
  color: white;
}
/* Positioned logo image and add background on it */
#logoImg {
  position: absolute;
  margin-top: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}
/* Positioned creator name */
.creatorName p {
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

/* Right side of page manipulations */
#rightSide {
  height: 100vh;
  width: 60%;
  position: relative;
  margin-left: px;
}
