body {
  margin: 0;
  padding: 0;
  background: rgb(242, 229, 238);
  background: linear-gradient(
    180deg,
    rgba(242, 229, 238, 1) 10%,
    rgba(236, 225, 231, 1) 25%,
    rgba(221, 219, 222, 1) 45%,
    rgba(171, 181, 180, 1) 65%,
    rgba(37, 71, 67, 0.6) 83%,
    rgba(3, 29, 30, 0.7) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Anton", sans-serif;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  height: 100vh;
  width: 100vw;
}
.main {
  display: flex;
}
/* Left side of page manipulations */
/* Add an image to left side of page */
#leftSide {
  background-image: url(/IMG/BackgroundImage.avif);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 40%;
  position: relative;
}
/* Color links to white */
#leftSide a {
  color: white;
}
/* Positioned logo image and add background on it */
#logoImg {
  position: absolute;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
#logoImg p {
  margin: 0;
  color: rgb(99, 97, 97);
}
#logoImg img {
  height: 310px;
}
/* Positioned creator name */
.creatorName p {
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

/* Right side of page manipulations */
#rightSide {
  height: 100vh;
  width: 60%;
  margin: 0 50px;
}
.unrealService {
  width: 100%;
  font-size: 2rem;
  margin: 20px 0;
}
form {
  display: flex;
  flex-direction: column;
}
legend {
  font-size: 1.7rem;
  padding: 0;
  margin-bottom: 0.6rem;
}
.formGrid {
  display: flex;
  flex-wrap: wrap;
}
.leftSideForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-right: 100px;
}
.rightSideForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
input {
  margin-bottom: 45px;
  height: 1.6rem;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 1.3rem;
  font-family: "Anton", sans-serif;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  box-shadow: rgba(60, 60, 214, 0.1) 10px 8px 5px, rgba(19, 19, 172, 0.1) 0px 16px 56px, rgba(29, 29, 212, 0.1) 0px 24px 80px;
}
input:valid {
  border: 3px solid green;
}
input:invalid {
  border: 3px solid rgb(134, 2, 2);
}
label {
  font-size: 1.4em;
}
.submitBtn {
  font-size: 1.2rem;
  width: 200px;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
}
.submitBtn:hover {
  background-color: #2e5538;
  color: white;
  border: 3px solid white;
}
.submitBtn:active {
  background-color: #243d2a;
}
.logIn {
  font-size: 1.2rem;
}
.logIn a {
  color: #2e5538;
  text-decoration: none;
}
.logIn a:active {
  color: #243d2a;
}
